<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/c9c5dac9-5e38-48e6-8b2e-4753ebd58bfe/resourceGroups/fintech-auth_group/providers/Microsoft.ApiManagement/service/AuthServiceMobileApi/apis/AuthService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c9c5dac9-5e38-48e6-8b2e-4753ebd58bfe/resourceGroups/fintech-auth_group/providers/Microsoft.Web/sites/fintech-auth</ResourceId>
    <ResourceGroup>fintech-auth_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fintech-auth-d2hfawa5djeeedgs.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c0d8a131-9e15-42b9-8ae7-3b27abab66ae</ProjectGuid>
    <PublishUrl>https://fintech-auth-d2hfawa5djeeedgs.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>